@media (width < 768px) {
  .header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    gap: 15px;
    padding: var(--padding-mobile);
  }

  .header__theme-menu {
    display: flex;
    justify-content: end;
    margin-bottom: 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header .page__title {
    margin-left: 0;
  }

  .page__title {
    text-shadow: 4px 4px rgb(255, 141, 203);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorated-zone::before {
    top: 5px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 5px;
    left: 10px;
  }

  .mobile-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: var(--padding-mobile);
  }

  .container__problem {
    margin-top: 40px;
  }

  .block__title-container {
    inline-size: 100%;
  }

  .footer {
    margin-top: 40px;
    padding: var(--padding-mobile);
  }
}

@media (width < 1024px) {
  .header__theme-menu {
    display: flex;
    justify-content: end;
    margin-bottom: 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .page__title {
    text-shadow: 4px 4px rgb(255, 141, 203);
  }

  .container__reasons {
    display: flex;
    flex-direction: column;
  }

  .container__reasons .section__title-container {
    max-width: 236px;
  }
}
