/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --title-color: rgb(219, 0, 255);
  --title-shadow: 4px 4px rgb(255, 0, 112);
  --hyperlink-shadow: 2px 4px rgb(255, 0, 112);
  --text-color: #f1b2ce;
  --title-text-color: #000028;
  --section-title-color: #ff0070;
  --decoration-color: #ff0070;
  --display-REC: flex;
}

.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --title-color: rgb(219, 0, 255);
  --title-shadow: 4px 4px rgb(255, 0, 112);
  --hyperlink-shadow: 2px 4px rgb(255, 0, 112);
  --text-color: #f1b2ce;
  --title-text-color: #000028;
  --section-title-color: #ff0070;
  --decoration-color: #ff0070;
  --display-REC: flex;
}
