/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  font-family: var(--font-settings);
  font-size: 18px;
  line-height: 1.3em;
  background-attachment: fixed;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  block-size: 100vh;
  inline-size: 100%;
}

.header {
  padding: 20px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 768px;
  block-size: 100vh;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--decoration-color);
  border-block-start: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--decoration-color);
  border-block-end: 1px solid var(--decoration-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--decoration-color);
  padding: 0px 13px;
  border: none;
  text-transform: lowercase;
  appearance: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--decoration-color-shadow);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decoration-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decoration-color);
}

.header__REC {
  position: absolute;
  display: var(--display-REC, none);
  align-items: center;
  color: var(--accent-color);
  right: 30px;
  top: 21px;
  font-size: 18px;
  gap: 10px;
}

.header__REC::after {
  content: "";
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.hyperlink {
  text-decoration: none;
  text-shadow: var(--hyperlink-shadow);
}

.hyperlink:hover {
  border-bottom: 1px solid var(--text-color);
}

.hyperlink:focus {
  outline: none;
}

.hyperlink:focus-visible {
  outline: 1px solid var(--text-color);
}

.page__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.825;
  color: var(--title-color);
}

.header__title {
  margin-left: -20px;
  text-shadow: var(--title-shadow);
  justify-self: start;
}

.block__title-container {
  align-self: center;
  justify-self: end;
  inline-size: 50%;
}

.block__title {
  color: var(--title-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.container__problem {
  display: grid;
  grid-template-columns: 315px 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  margin-top: 60px;
  padding: var(--padding-regular);
  gap: 20px;
}

.container__problem .section__title:nth-child(1) {
  grid-row: span 2;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__title {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--section-title-color);
}

.reasons__title {
  max-inline-size: 315px;
}

.block__text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.container__reasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  gap: 20px;
  margin-top: 80px;
  padding: var(--padding-regular);
}

.container__reasons .section__title:nth-child(1) {
  grid-column: 1 / span 3;
}

.container__solutions {
  display: grid;
  grid-template-columns: 315px 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  margin-top: 80px;
  padding: var(--padding-regular);
  gap: 20px;
}

.container__solutions .section__title:nth-child(1) {
  grid-row: 1 / span 6;
}

.block__subtitile .block__title {
  font-weight: 400;
}

.container__pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-flow: dense;
  margin-top: 80px;
  padding: var(--padding-regular);
}

.container__pictures .block__title:nth-child(1) {
  grid-column: 1 / span 3;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.picture_1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.picture_2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.picture_3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.picture_4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.picture_5 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.footer {
  position: relative;
  margin-top: 60px;
  padding: 20px;
  block-size: 100vh;
  min-block-size: 768px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__title {
  text-shadow: var(--footer-shadow);
}
